/* MENU STYLES */
/* Hamburger Line */
/* Hamburger Lines - Top & Bottom */
/* Moves Line Down */
/* Toggler Animation */
/* Turns Lines Into X */
/* Rotate On Hover When Checked */
/* Show Menu */
/*.div3{
	display: inline-block;
	margin-right: 20px;
}
.div4{
	display: inline-block;
	margin-right: 20px;
}
.div5{
	display: inline-block;
	margin-left: 50px;
}
.div6{
	margin-right: 35px;
}

.div7{

	margin-right: 35px;
	margin-left: 50px;
}
.div8{
margin-left: 50px;
	margin-right: 35px;
}
*/
/*.llan{
	margin-top: 100px;
	margin-left: 40px;


	
}*/
/* Style the input elements and the submit button */
/* Style the submit button */
header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-name-surname {
  font-family: 'Kaushan Script', cursive;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}

.showcase {
  background: var(--primary-color);
  color: #fff;
  height: 100vh;
  position: relative;
}

.showcase:before {
  content: '';
  background: url("https://images.pexels.com/photos/533923/pexels-photo-533923.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.showcase .showcase-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 100%;
}

.showcase h1 {
  font-size: 4rem;
}

.showcase p {
  font-size: 1.3rem;
}

.burger {
  display: none;
  display: none;
}

.instagram-img-box {
  max-width: 280px;
  text-align: center;
}

.btn {
  display: inline-block;
  border: none;
  background: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.7;
}

.menu {
  height: 100% !important;
}

.menu-wrap {
  position: fixed;
  top: 3%;
  right: 10%;
  z-index: 1;
  display: none;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div:before {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: var(--menu-speed);
          transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-wrap .hamburger > div {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 100%;
  height: 2px;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu-wrap .hamburger > div::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
  top: 10px;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 42%;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-wrap .menu > div {
  background: #FEF6FA;
  width: 200vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0.8;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 4.5rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
  font-family: 'Kaushan Script', cursive;
  font-size: 35px;
  color: black;
}

.free-devices-background {
  background-image: url("../image/unique-design/bg-unique-design.jpg");
  height: 650px;
  width: 100%;
  margin: 100px 0;
  position: relative;
}

.free-devices-background .free-devices-main-div {
  text-align: center;
}

.free-devices-background .free-devices-main-div .free-devices-title-1 {
  padding-top: 20px;
  font-family: 'Kaushan Script', cursive;
  font-size: 25px;
}

.free-devices-background .free-devices-main-div .free-devices-title-2 {
  font-family: 'Kaushan Script', cursive;
  font-size: 25px;
}

.free-devices-background .ipad-img {
  position: absolute;
  bottom: 0;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  max-width: 430px;
}

.free-devices-background .iphone-img {
  position: absolute;
  bottom: 0;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  max-width: 100px;
  -webkit-transform: translate(60%, 0%);
          transform: translate(60%, 0%);
  max-width: 200px;
  bottom: -75px;
}

.service-main-box {
  text-align: center;
}

.service-main-box .service-titile-one {
  font-size: 24px;
  font-family: 'Kaushan Script', cursive;
}

.service-main-box .service-title-two {
  font-size: 30px;
}

.service-main-box .service-discription {
  font-size: 15px;
  color: #999999;
}

.bg2 {
  background-image: url("../image/full.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.logo {
  color: red;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

.logo a {
  color: white;
}

.logo a:hover {
  color: #FCE38A;
}

.logo:hover {
  -webkit-transform: scale(1.14);
          transform: scale(1.14);
}

.c2019 {
  text-align: center;
}

.A {
  color: white;
}

.A:hover {
  color: #FCE38A;
}

.navbar-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Montserrat', sans-serif;
}

section:nth-child(odd) {
  background: #ccc;
}

section:before {
  content: attr(data-text);
  text-transform: uppercase;
}

.navbar-li {
  margin-right: 20px;
}

.con-img {
  width: 255px;
  height: 200px;
  margin-right: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.con-img:hover {
  -webkit-transform: scale(1.14);
          transform: scale(1.14);
}

.footer-template-year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.activity-wrapper-div .activity-wrapper-number:hover {
  -webkit-transform: scale(1.14);
          transform: scale(1.14);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.activity-wrapper-div {
  margin: 45px;
}

.activity-wrapper-div .activity-wrapper-text {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

.activity-wrapper-div .activity-wrapper-text:hover {
  -webkit-transform: scale(1.14);
          transform: scale(1.14);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.activity-wrapper-div .activity-wrapper-number {
  font-size: 60px;
}

.activity-wrapper-div p {
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: white;
}

.experience-image {
  float: left;
  height: 40px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.experience-image:hover {
  -webkit-transform: scale(1.14);
          transform: scale(1.14);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

li:hover {
  -webkit-transform: scale(1.14);
          transform: scale(1.14);
}

.icon1 {
  margin-right: 20px;
}

.icon1:hover {
  -webkit-transform: scale(1.14);
          transform: scale(1.14);
}

.icon2:hover {
  -webkit-transform: scale(1.14);
          transform: scale(1.14);
}

.icon-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}

.main-title-one {
  color: white;
  margin-top: 40px;
  font-size: 50px;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
}

.main-title-one:hover {
  color: red;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.main-title-box-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-title-box-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-title-two {
  color: white;
  margin-top: 20px;
  font-size: 70px;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-title-two:hover {
  color: red;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.lane {
  margin-top: 60px;
  width: 75px;
  height: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button {
  text-transform: uppercase;
  color: white;
  padding: 20px 30px;
  margin: 0 auto;
  text-align: center;
  width: 180px;
  margin-top: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 3px solid white;
  font-family: 'Montserrat', sans-serif;
}

.button:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: pink;
}

.story-telling-title-one {
  font-weight: bold;
  margin-top: 30px;
  color: black;
  text-align: center;
  font-family: 'Satisfy', cursive;
  font-family: 'Caveat', cursive;
  font-family: 'Kaushan Script', cursive;
  font-size: 25px;
}

.story-telling-title-two {
  font-weight: bold;
  margin-top: 30px;
  color: black;
  text-align: center;
  font-family: 'Satisfy', cursive;
  font-family: 'Caveat', cursive;
  font-family: 'Kaushan Script', cursive;
  font-size: 25px;
}

.story-telling-title-discription {
  color: #999999;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-top: 30px;
}

.line2 {
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.line3 {
  margin-top: 30px;
  margin-bottom: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.work-experience-box {
  margin-top: 50px;
}

.story-tellig-images {
  margin-top: 30px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.activity-wrapper-box {
  background-color: #95E1D3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
  color: black;
  display: flex;
  justify-content: center;
}

.story-telling-box {
  margin-top: 50px;
}

.work-experience-title-one {
  color: black;
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: 'Lobster Two', cursive;
  font-family: 'Bangers', cursive;
  font-family: 'Rock Salt', cursive;
  font-family: 'Amaranth', sans-serif;
}

.work-experience-title-two {
  color: black;
  text-align: center;
  font-size: 30px;
  font-family: 'Lobster Two', cursive;
  font-family: 'Bangers', cursive;
  font-family: 'Rock Salt', cursive;
  font-family: 'Amaranth', sans-serif;
}

.experience-individual-title {
  color: black;
  font-weight: bold;
}

.experience-individual-dicsription {
  color: black;
  font-family: 'Roboto', sans-serif;
  color: #999999;
  font-size: 15px;
  max-width: 235px;
}

.second-experience-individual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 20px;
}

.experience-child-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 15px;
}

.experience-individual-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.div6 {
  margin-left: 50px;
}

.div5 {
  margin-right: 50px;
}

.div8 {
  margin-right: 55px;
}

.cull {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
  padding: 0 15px;
}

.footer-logo {
  color: #CCCCCC;
  font-size: 50px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.footer-text-discription {
  color: #999999;
  font-size: 18px;
  margin-bottom: 40px;
}

.followers {
  font-weight: bold;
  color: black;
  font-size: 20px;
  margin-bottom: 40px;
}

.followus {
  margin-right: 20px;
  color: #999999;
  font-size: 20px;
  float: left;
  margin-bottom: 40px;
}

.footer {
  margin-top: 40px;
  background-color: #F8F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 15px;
}

.footer-section-one {
  float: left;
}

.footer-section-two {
  float: left;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog {
  color: black;
  font-size: 25px;
  font-family: 'Lobster Two', cursive;
  font-family: 'Bangers', cursive;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

.blog-main-image:hover {
  -webkit-transform: scale(1.14);
          transform: scale(1.14);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.blog-photoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-text-disctiption {
  color: black;
}

.blog-date {
  color: black;
}

.instagram-blog {
  color: black;
  font-size: 25px;
  font-family: 'Lobster Two', cursive;
  font-family: 'Bangers', cursive;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

.insimg {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 70px;
  height: 80px;
}

.insimg:hover {
  -webkit-transform: scale(1.14);
          transform: scale(1.14);
}

.view {
  color: black;
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
}

.img-icon {
  margin-right: 10px;
}

.img-icon:hover {
  margin-right: 10px;
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.email {
  margin-top: 40px;
}

.email form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.content1 {
  float: left;
}

input[type=email] {
  width: 100%;
  display: inline-block;
  border: 1px solid grey;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 40px;
  width: 245px;
  background-color: white;
}

input[type=submit] {
  background-color: #95E1D3;
  color: white;
  border: none;
  padding: 5px 20px;
  height: 40px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input[type=submit]:hover {
  opacity: 0.8;
}

@media screen and (max-width: 940px) {
  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-section-one,
  .footer-section-two,
  .footer-section-three {
    width: 100%;
  }
  .footer-section-three {
    width: auto;
  }
  .insimg {
    width: 100px;
    height: 100px;
  }
  .instagram-img-box {
    max-width: 340px;
  }
  .footer-section-one {
    text-align: center;
  }
  .followus {
    text-align: center;
    float: none;
    margin-right: 0;
  }
  .email form {
    display: inline;
  }
  .img-icon {
    height: 20px;
  }
  .blog {
    font-size: 30px;
  }
  .instagram-blog {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .iphone-img {
    width: 30% !important;
  }
  .ipad-img {
    width: 100%;
  }
  .email form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  input[type=email] {
    margin-left: 0;
    width: 100%;
  }
  .burger {
    display: none;
  }
  header {
    width: 100%;
    padding: 30px 0;
  }
  .logo {
    font-size: 30px;
  }
  .activity-wrapper-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .experience-child-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  div .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .con-img {
    margin: 20px;
  }
  .footer-section-two {
    margin-top: 20px;
  }
  .footer-section-three {
    margin-top: 50px;
  }
  .experience-individual-box {
    margin-bottom: 30px;
  }
  .div4 {
    margin-bottom: 20px;
    margin-left: 4px;
  }
  .div5 {
    margin-left: 70px;
  }
  .div6 {
    margin-left: 4px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 20px;
  }
  .div7 {
    margin-bottom: 20px;
    margin-left: 4px;
  }
  .div8 {
    margin-left: 70px;
  }
  .cull {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
  }
  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .view {
    margin-top: 30px;
    text-align: center;
  }
  .instagram-blog {
    text-align: center;
    margin-bottom: 15px;
  }
  .blog {
    text-align: center;
    margin-bottom: 20px;
  }
  .experience-image {
    height: 100px;
  }
  input {
    height: 500px;
  }
  input[type=submit] {
    width: 100%;
    margin-top: 20px;
  }
  .icon-set {
    display: none;
  }
  .navbar {
    display: none;
  }
  .fa {
    font-size: 30px;
    margin-left: 10px;
    color: white;
  }
  .experience-individual-title {
    margin-bottom: 15px;
  }
  .footer-section-one {
    margin-right: 0;
  }
  .email form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 5%;
  }
  .story-telling-title-discription {
    padding: 0 5%;
  }
}

@media screen and (max-width: 1024px) {
  .icon-set {
    display: none;
  }
  .navbar {
    display: none;
  }
  .menu-wrap {
    display: block;
  }
  .footer-section-three {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .fa {
    font-size: 30px;
    margin-left: 10px;
  }
  .logo {
    font-size: 30px;
  }
}

@media screen and (max-width: 430px) {
  .free-devices-background {
    height: 645px;
  }
  .activity-wrapper-div {
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .footer-section-two {
    margin: 4%;
  }
  .footer-section-three {
    margin: 4%;
  }
  input[type=email] {
    margin-left: 0;
  }
  .menu-wrap {
    margin-right: 10%;
  }
}

@media screen and (max-width: 385px) {
  .free-devices-background {
    height: 600px;
  }
}

@media screen and (max-width: 375px) {
  .manu-wrap {
    margin-right: 10%;
  }
  .logo {
    margin-left: 10%;
  }
  input[type=email] {
    margin-left: 0;
  }
  .menu-wrap {
    right: 10%;
  }
  .burger {
    display: none;
  }
  header {
    display: inline-block;
  }
  .experience-child-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .div4 {
    margin-left: 30px;
  }
  .div5 {
    margin-left: 46px;
  }
  .div6 {
    margin-left: 30px;
  }
  .div7 {
    margin-left: 30px;
  }
  .div8 {
    margin-left: 46px;
  }
  .main-title-two {
    font-size: 50px;
  }
  .main-title-one {
    font-size: 30px;
  }
  .footer-section-three {
    margin-right: 0;
  }
  .experience-image {
    height: 75px;
    margin-right: 20px;
  }
  .fa {
    color: white;
  }
  .footer-section-two {
    margin-right: 0;
  }
}

@media screen and (max-width: 340px) {
  .free-devices-background {
    height: 520px;
  }
}

@media screen and (max-width: 325px) {
  .insimg {
    width: 85px;
    height: 85px;
  }
}
/*# sourceMappingURL=main.css.map */