header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 30px 0;
    justify-content: center;
}

.end {
    font-family: 'Kaushan Script', cursive;
}


/* CORE STYLES */

:root {
    --primary-color: rgba(13, 110, 139, 0.75);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

.showcase {
    background: var(--primary-color);
    color: #fff;
    height: 100vh;
    position: relative;
}

.showcase:before {
    content: '';
    background: url('https://images.pexels.com/photos/533923/pexels-photo-533923.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.burger {
    display: none;
}

.showcase h1 {
    font-size: 4rem;
}

.showcase p {
    font-size: 1.3rem;
}

.btn {
    display: inline-block;
    border: none;
    background: var(--primary-color);
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    transition: opacity 1s ease-in-out;
    text-decoration: none;
}

.btn:hover {
    opacity: 0.7;
}


/* MENU STYLES */

.menu-wrap {
    position: fixed;
    top: 3%;
    right: 10%;
    z-index: 1;
    display: none;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Hamburger Line */

.menu-wrap .hamburger>div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}


/* Hamburger Lines - Top & Bottom */

.menu-wrap .hamburger>div::before,
.menu-wrap .hamburger>div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}


/* Moves Line Down */

.menu-wrap .hamburger>div::after {
    top: 10px;
}


/* Toggler Animation */

.menu-wrap .toggler:checked+.hamburger>div {
    transform: rotate(135deg);
}


/* Turns Lines Into X */

.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
}


/* Rotate On Hover When Checked */

.menu-wrap .toggler:checked:hover+.hamburger>div {
    transform: rotate(225deg);
}


/* Show Menu */

.menu-wrap .toggler:checked~.menu {
    visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked~.menu>div>div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 42%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu>div {
    background: #FEF6FA;
    width: 200vw;
    height: 100%;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
    opacity: 0.8;
}

.menu-wrap .menu>div>div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu>div>div>ul>li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    /* padding: 1rem;
    margin: 33px; */
}

.menu-wrap .menu>div>div>ul>li>a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
    font-family: 'Kaushan Script', cursive;
    font-size: 35px;
    color: black;
}

.bg2 {
    /*position: relative;*/
    background-image: url('../image/full.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.logo {
    color: red;
    margin-right: 40%;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.c2019 {
    text-align: center;
}

.logo a:hover {
    color: #FCE38A;
}

.logo a {
    color: white;
}

.A {
    color: white;
}

.navbar-ul {
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.burger {
    display: none;
}

section:nth-child(odd) {
    background: #ccc;
}

section:before {
    content: attr(data-text);
    text-transform: uppercase;
}

.navbar-li {
    margin-right: 20px;
}

.A:hover {
    color: #FCE38A;
}

.logo:hover {
    transform: scale(1.14);
}

.con-img:hover {
    transform: scale(1.14);
}

.THE {
    display: flex;
    justify-content: center;
}


}
.ma .ii:hover {
    transform: scale(1.14);
    transition: all 0.2s ease-in-out;
}
.ma .la:hover {
    transform: scale(1.14);
    transition: all 0.2s ease-in-out;
}
.pic1:hover {
    transform: scale(1.14);
    transition: all 0.2s ease-in-out;
}
li:hover {
    transform: scale(1.14)
}
.icon1:hover {
    transform: scale(1.14);
}
.icon2:hover {
    transform: scale(1.14);
}
.icon-set {
    display: flex;
    margin-right: 20px;
}
.icon1 {
    margin-right: 20px;
}
.P1 {
    color: white;
    margin-top: 40px;
    font-size: 50px;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
}
.P2 {
    color: white;
    margin-top: 20px;
    font-size: 70px;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    display: flex;
    justify-content: center;
}
.P1:hover {
    color: red;
    transition: all 0.5s ease-in-out;
}
.P2:hover {
    color: red;
    transition: all 0.5s ease-in-out;
}
.lane {
    margin-top: 60px;
    width: 75px;
    height: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.button {
    /* background: rgb(131, 147, 155);*/
    
    text-transform: uppercase;
    color: white;
    padding: 20px 30px;
    margin: 0 auto;
    text-align: center;
    width: 180px;
    margin-top: 45px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: 3px solid white;
    font-family: 'Montserrat', sans-serif;
}
.button:hover {
    color: red;
    transition: all 0.5s ease-in-out;
    background-color: pink;
}
.p1-class {
    font-weight: bold;
    margin-top: 30px;
    color: black;
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
}
.h2-class {
    font-weight: bold;
    margin-top: 30px;
    color: black;
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
}
.p2-class {
    color: #999999;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-top: 30px;
}
.line2 {
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 50%;*/
}
.line3 {
    margin-top: 30px;
    margin-bottom: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 50%;*/
}
.maan {
    margin-top: 50px;
}
.con {
    margin-top: 30px;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
}
.wrapper {
    display: flex;
    justify-content: center;
}
.con-img {
    width: 255px;
    height: 200px;
    margin-right: 20px;
    transition: all 0.5s ease-in-out;
}
.main {
    background-color: #95E1D3;
    display: flex;
    justify-content: center;
}
.main {
    margin-top: 80px;
    color: black;
    display: flex;
    justify-content: center;
}
.ma .ii {
    /*vertical-align: center;
	color: white;*/
    
    font-size: 60px;
}
.ma .la {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
.ma {
    margin: 53px;
}
.ma p {
    /* background-color: #f1f1f1;*/
    
    width: 100%;
    /*margin: 10px*/
    
    ;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: white;
}
.div2 {
    margin-top: 50px;
}
.cl2 {
    color: black;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Lobster Two', cursive;
    font-family: 'Bangers', cursive;
    font-family: 'Rock Salt', cursive;
    font-family: 'Amaranth', sans-serif;
}
.cl3 {
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: 'Lobster Two', cursive;
    font-family: 'Bangers', cursive;
    font-family: 'Rock Salt', cursive;
    font-family: 'Amaranth', sans-serif;
}
.pic1 {
    /*vertical-align: middle;
	vertical-align: center;*/
    
    float: left;
    height: 40px;
    transition: all 0.5s ease-in-out;
}
.clock {
    color: black;
    font-weight: bold;
}
.clock-p {
    color: black;
    font-family: 'Roboto', sans-serif;
    color: #999999;
    font-size: 15px;
    width: 235px;
}
.nok {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}

/*.div3{
	display: inline-block;
	margin-right: 20px;
}
.div4{
	display: inline-block;
	margin-right: 20px;
}
.div5{
	display: inline-block;
	margin-left: 50px;
}
.div6{
	margin-right: 35px;
}

.div7{

	margin-right: 35px;
	margin-left: 50px;
}
.div8{
margin-left: 50px;
	margin-right: 35px;
}
*/

/*.llan{
	margin-top: 100px;
	margin-left: 40px;


	
}*/
.full {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}
.div3 {
    display: flex;
    align-items: center;
}
.div6 {
    margin-left: 50px;
}
.div5 {
    margin-right: 50px;
}
.div8 {
    margin-right: 55px;
}
.cull {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 5%;
}
.log {
    color: #CCCCCC;
    font-size: 50px;
}
.fp {
    color: #999999;
    font-size: 18px;
}
.followers {
    font-weight: bold;
    color: black;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
}
.followus {
    margin-right: 20px;
    color: #999999;
    font-size: 20px;
    float: left;
    margin-left: 20px;
    margin-bottom: 40px;
}
.footer {
    margin-top: 40px;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
}
.foot1 {
    float: left;
    margin-right: 25px;
}
.foot2 {
    float: left;
    margin-right: 100px;
}
.foot3 {}
.column {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: space-between;
}
.blog {
    color: black;
    font-size: 20px;
    font-family: 'Lobster Two', cursive;
    font-family: 'Bangers', cursive;
    text-align: center;
    margin-top: 20px;
}
.img-s8:hover {
    transform: scale(1.14);
    transition: all 0.5s ease-in-out;
}
.foto {
    display: flex;
    margin-bottom: 20px;
}
.lorem {
    color: black;
}
.jan {
    color: black;
}
.inst {
    color: black;
    font-size: 20px;
    font-family: 'Lobster Two', cursive;
    font-family: 'Bangers', cursive;
    text-align: center;
    margin-top: 20px
}
.insimg {
    transition: all 0.5s ease-in-out;
}
.insimg:hover {
    transform: scale(1.14);
}
.view {
    color: black;
}
.log {
    margin-left: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
}
.fp {
    margin-left: 20px;
    margin-bottom: 40px;
}
.img-icon {
    margin-right: 10px;
}
.img-icon:hover {
    margin-right: 10px;
    transform: scale(1.60);
    transition: all 0.1s ease-in-out;
}
.email {
    margin-top: 40px;
}
.email form {
    display: flex;
    width: 100%;
}
.content1 {
    float: left;
}

/* Style the input elements and the submit button */
input[type=email] {
    width: 100%;
    display: inline-block;
    border: 1px solid grey;
    box-sizing: border-box;
    height: 40px;
    width: 245px;
    background-color: white;
    margin-left: 20px;
}

/* Style the submit button */
input[type=submit] {
    background-color: #95E1D3;
    color: white;
    border: none;
    padding: 5px 20px;
    height: 40px;
    transition: all 0.2s ease-in-out;
}
input[type=submit]:hover {
    opacity: 0.8;
}
.view {
    margin-top: 50px;
    margin-bottom: 100px;
}
.insimg {
    width: 70px;
    height: 80px;
}
.inst {
    margin-bottom: 15px;
}
.blog {
    margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
    input[type=email] {
        margin-left: 0;
    }
    
    .burger {
        display: none;
    }
    
    header {
        /*display: flex;
*/
        width: 100%;
        padding: 30px 0;
    }
    
    .logo {
        font-size: 30px;
    }
    
    .main {
        flex-wrap: wrap;
    }
    
    .full {
        display: flex;
        flex-wrap: wrap;
    }
    
    div .wrapper {
        flex-wrap: wrap;
    }
    
    .con-img {
        margin: 20px;
    }
    
    .foot2 {
        margin-top: 20px;
    }
    
    .foot3 {
        margin-right: 100px;
    }
    
    .div3 {
        margin-bottom: 30px;
    }
    
    .div4 {
        margin-bottom: 20px;
        margin-left: 4px;
    }
    
    .div5 {
        margin-left: 70px;
    }
    
    .div6 {
        margin-left: 4px;
        margin-bottom: 20px;
    }
    
    .div7 {
        margin-bottom: 20px;
        margin-left: 4px;
    }
    
    .div8 {
        margin-left: 70px;
    }
    
    .full {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .cull {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .div6 {
        margin-left: 0;
        margin-right: 20px;
    }
    
    .footer {
        flex-wrap: wrap;
    }
    
    .foot3 {
        margin-top: 50px;
    }
    
    .view {
        margin-top: 30px;
        text-align: center;
    }
    
    .inst {
        text-align: center;
        margin-bottom: 15px;
    }
    
    .insimg {
        width: 100px;
    }
    
    .blog {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .pic1 {
        height: 100px;
    }
    
    input {
        height: 500px;
    }
    
    input[type=submit] {
        width: 100%;
        margin-top: 20px;
    }
    
    .icon-set {
        display: none;
    }
    
    .navbar {
        display: none;
    }
    
    .fa {
        font-size: 30px;
        margin-left: 10px;
        color: white;
    }
    
    .logo {
        margin-left: 10px;
    }
    
    .clock-p {
        width: 200px;
    }
    
    .cull {
        margin-top: 0;
    }
    
    .clock {
        margin-bottom: 15px;
    }
    
    .foot1 {
        margin-right: 0;
    }
    
    .email form {
        justify-content: center;
        flex-direction: column;
        padding: 0 5%;
    }
    
    input[type=email] {
        width: 100%;
    }
    
    .p2-class {
        padding: 0 5%;
    }
}
@media screen and (max-width: 1024px) {
    .menu-wrap {
        display: block;
    }
    
    .foot3 {
        flex-wrap: wrap;
    }
    
    .icon-set {
        display: none;
    }
    
    .navbar {
        display: none;
    }
    
    .fa {
        font-size: 30px;
        margin-left: 10px;
    }
    
    .logo {
        font-size: 30px;
    }
}
@media screen and (max-width: 414px) {
    .foot2 {
        margin: 4%;
    }
    
    .foot3 {
        margin: 4%;
    }
}
@media screen and (max-width: 375px) {
    .manu-wrap {
        margin-right: 10%;
    }
    
    .logo {
        margin-left: 10%;
    }
    
    input[type=email] {
        margin-left: 0;
    }
    
    .menu-wrap {
        right: 10%;
    }
    
    .burger {
        display: none;
    }
    
    header {
        display: inline-block;
    }
    
    .full {
        display: flex;
        flex-wrap: wrap;
    }
    
    .div4 {
        margin-left: 30px;
    }
    
    .div5 {
        margin-left: 46px;
    }
    
    .div6 {
        margin-left: 30px;
    }
    
    .div7 {
        margin-left: 30px;
    }
    
    .div8 {
        margin-left: 46px;
    }
    
    .P2 {
        font-size: 50px
    }
    
    .P1 {
        font-size: 30px
    }
    
    .foot3 {
        margin-right: 0;
    }
    
    .pic1 {
        height: 75px;
        margin-right: 20px;
    }
    
    .fa {
        color: white;
    }
    
    .foot2 {
        margin-right: 0;
    }
}
@media screen and (max-width: 414px) {
    .logo {
        margin-right: 60%;
    }
    
    input[type=email] {
        margin-left: 0;
    }
    
    .menu-wrap {
        margin-right: 10%;
    }
}